@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <h1 class="text-center m-3">My Services</h1>
    <div class="text-center font-weight-light m-2">
        <h4><i class="fas fa-info-circle"></i> Need a technician?</h4>
        <span>If one of your Rocket Elevators services is in need of an intervention, use this page to request an intervention at its associated building. To do so, select the building followed by the relevant battery, column or elevator using the radio buttons.</span><br />
        <span>You can also simply use this page to browse your active services and check on the status of your equipment.</span>
    </div>

    <form class="mb-5" id="interventionForm">
        <div class="pb-2 gridContainer" id="buildingsContainer"></div>
       
        <div class="pb-2" id="batteriesContainer"></div>
      
        <div class="pb-2" id="columnsContainer"></div>
      
        <div class="pb-5" id="elevatorsContainer"></div>

        <div id="floatingMenu" class="alert alert-primary floating-menu mt-5 d-flex justify-content-center hidden">
            <table class="table-sm col-6  text-center">
                <tr>
                    <th>Building</th>
                    <th>Battery ID</th>
                    <th>Column ID</th>
                    <th>Elevator ID</th>
                </tr>
                <tr>
                    <td id="buildingSelectionIndicator">None</td>
                    <td id="batterySelectionIndicator">None</td>
                    <td id="columnSelectionIndicator">None</td>
                    <td id="elevatorSelectionIndicator">None</td>
                </tr>
            </table>
            <div class="col-6 text-center">
                <h6>Issue Description</h6>
                <textarea class="w-100" name="Report" id="reportInput"></textarea>
                <input class="btn btn-primary" type="button" id="submit" value="Submit New Intervention Request" data-toggle="modal" data-target="#confirmationModal">
            </div>

        </div>
        <input type="text" name="BuildingId" id="buildingIdInput" value="" hidden />
    </form>

    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Intervention Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span id="confirmationMessage"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>








    <script>const userEmail = "@User.Identity.Name"</script>
    <script src="~/js/Services/Constants.js"></script>
    <script src="~/js/Services/FetchGraphQL.js"></script>
    <script src="~/js/Services/PostForm.js"></script>
    <script src="~/js/Services/ShowServices.js"></script>

}


